autogen-agentchat==0.7.5
autogen-core==0.7.5
autogen-ext==0.7.5
mcp==1.26.0
mysql-connector-python==9.6.0
mysql_mcp_server==0.2.2
openai==2.26.0
pydantic==2.12.5
tiktoken==0.9.0
uv==0.10.9
playwright==1.35.0